#logga{
    width: 80px;
    height: 80px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.divider{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-image: url("../images/pinksky.jpg");
    border-bottom: solid $headingColor 2px; 
    p{
        text-align: center;
        width: 400px;
        font-size: 1.5em;
        font-family: $headingFont;
        color: $headingColor;
        text-shadow: 0 0 1px darken($headingColor, 20);
    }
}

// Code for portfolio part
#portfolio{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio{
    p{
        width: 35vw;
        min-width: 700px;
    }
}

// Code for school
.courseClass{
    border-bottom: solid $headingColor 1px; 
    padding-bottom: 20px;
}

#schoolContainer, #jobContainer{
    margin-top: 0px;

    li{
        margin-bottom: 50px;
    }
}

// Code for job parts
.infoContainer{
    background-color: $baseColor;
    padding: 10px 20px;
    margin-right: 10px;
    width: 50vw;
    min-width: 700px;
    text-align: left;
    box-sizing: border-box;
}

.flexContainer{
    display: flex;
    flex-direction: column;
}

#jobExp{
    border-bottom: 0;
}

// Code for folding button
.foldingText {
    display: none;
    font-size: 16px;
    background-color: lighten($baseColor, 5);
    width: 50vw;
    min-width: 700px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.mypageArrow{
    font-size: 3em;
    color: $headingColor;
    padding-bottom: 10px;
}

.foldingBtn{
    width: 50vw;
    min-width: 700px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
    background-color: $baseColor;
    padding: 10px 20px;
    margin-right: 10px;
    p{
        font-size: 18px;
        font-weight: 500;
    }
}


// Code for footer
#copyText{
    text-align: center;
    width: 70vw;
    color: #6e696b;
    font-size: 0.9em;
}
